# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#include <iostream>
#include <string>
using namespace std;
 
int main()
{
     
    string s1,s3="";
    int i = 0,count=0,m=0,n;
    cin >> n;
    for (i = 0; i < n; i++) {
        cin >> s1;
 
        m = s1.size();
        if (m > 10) {
            count = m - 2;
            s3 = s1[0] + to_string(count) + s1[m - 1];
        }
        else
            s3 = s1;
        cout << s3;
        cout << endl;
    }
 
  
}
